body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

.display {
  width: 100%;
  padding: 20px;
  padding-right: 30px; /* or whatever value you like */
  font-size: 5rem;
  text-align: right;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  box-sizing: border-box; /* THIS FIXES IT */
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 50px;
}

button {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

#opretor, #reset {
  background-color: hsl(35, 100%, 55%);
}

#opretor:hover, #reset:hover {
  background-color: hsl(35, 100%, 65%);
}

#opretor:active, #reset:active {
  background-color: hsl(35, 100%, 75%);
}