  body{
      font-family: arial;
      margin-top: 80px;
      margin-left: 110px;
    }
    canvas {
  background: #232323;
}

    .col{
      padding-top: 5px;
    }

    .external-body{
      display: grid;
      grid-template-columns: 300px 300px 300px 300px;
      column-gap: 16px;
      row-gap: 20px;
      margin-top: 30px;
    }

    .img-container-one{
      display: block;
    }

    .image {
      width: 100%; /* Make image fill the container */
      display: block; /* Remove extra space below image */
      cursor: pointer;
    }

    .description-container{
      display: grid;
      margin-top: 10px;
      grid-template-columns: 40px auto;
    }

    .img-container-two{
      display: inline-block;
      cursor: pointer;
    }

    .image-second{
      width: 36px;
      border-radius: 18px;
      display: inline-block;
    }

    .text-description{
      width: auto;
    }

    .caption{
      width: auto; 
      display: inline;
      font-size: 14px;
      font-weight: 550;
      margin-bottom: 0;
      cursor: pointer;
    }

    .last-description{
      color: rgb(96, 96, 96);
      font-size: 12px;
    }

    .author{
      margin-top: 10px;
      margin-bottom: 0;
    }

    .views{
      margin-top: 4px;
    }
