body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: hsl(0, 0%, 15%);
  overflow: hidden;
}

#display{
  width: 100%;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background-color: hsl(0, 0%, 20%);
  font-size: 5rem;
}


#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

button{
  height: 100px;
  width: 100px;
  border: none;
  font-size: 3rem;
  border-radius: 50px;
  background-color: hsl(0, 0%, 30%);
  color: white;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
}

button:active{
  background-color: hsl(0, 0%, 50%);
}

#opretor, #reset{
  background-color: hsl(35, 100%, 55%);
}

#opretor:hover, #reset:hover{
  background-color: hsl(35, 100%, 65%);
}

#opretor:active, #reset:active{
  background-color: hsl(35, 100%, 75%);
}

